.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colorVerde
{
    color: greenyellow;
}

.colorRojo
{
    color: red;
}

.colorBlanco
{
    color: white;
}

.colorAmarillo
{
    color: yellow;
}

.colorAzul
{
    color: blue;
}
.flex
{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}